<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
     body
    {
      background-image: url("https://cdn.mos.cms.futurecdn.net/f67zdwFQ62gYvffsdUAVti-1200-80.jpg");
      background-size: cover;
      background-position: center;
    }
    </style>
  </head>
  <body>
    <div class="p-4">
  <h2 class="text-xl font-bold mb-4">Booking Status</h2>
  <div class="bg-green-100 dark:bg-blue-700 p-4 rounded-lg mb-4 opacity-80">
    <p class="font-semibold">Confirmed</p>
    <p class="font-bold">Photographer: John Doe</p>
    <p>Price per Hour: ₹500</p>
  </div>
  <div class="bg-green-100 dark:bg-blue-700 p-4 rounded-lg mb-4 opacity-80">
    <p class="font-semibold">Confirmed</p>
    <p class="font-bold">Photographer: Jane Smith</p>
    <p>Price per Hour: ₹750</p>
  </div>
  <div class="bg-yellow-100 dark:bg-white-400 p-4 rounded-lg opacity-80">
    <p class="font-semibold">Pending</p>
    <p class="font-bold">Photographer: Alice Johnson</p>
    <p>Price per Hour: ₹200</p>
  </div>
</div>
  </body>
</html>